<div class="inner">
</div>
<div class="content">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<h2 class="title">
					Bo'limlar
				</h2>
				<div class="sidebar">
					{{#each category}}
					<div class="modal-item">
						<a class="modal-link" href="/category/{{_id}}">{{title}}</a>
					</div>
					{{/each}}
				</div>
			</div>
			<div class="col-md-9">
				<h2 class="title">
					Kitoblar
				</h2>
				<div class="row">
					{{#each book}}
					<div class="col-xl-4 col-md-4 product__item-wrapper">
						<div class="product__item  subcategories__item  no__brand-product ">
								{{#if top}}
									<span class="pr_flash pr_discount">Top kitob</span>
								{{/if}}
								{{#if news}}
									<span class="pr_flash pr_discount pr_discount2">Yangi kitob</span>
								{{/if}}
								<div class="product__item-img">
									<img class="img-fluid lazyload"
										data-src="/{{img}}"
										loading="lazy" alt="#"
										src="/{{img}}">
								</div>
								<div class="product__item-info">
									<a class="title__link" href="/books/{{_id}}">
										<h5 class="product__item__info-title">
											{{title}} </h5>
									</a>
									<div class="product__item-info--prices">
										<div class="produrct__item-prices--wrapper">
											{{#if author}}
												<span class="product__item-price"><b>Muallif: </b>{{author}}</span>
											{{/if}}
											{{#if count}}
												<span class="product__item-price"><b>Sahifa soni: </b>{{count}} bet</span>
											{{/if}}
											{{#if year}}
											<span class="product__item-price"><b>Kitob tili: </b>{{language}}</span>
											{{/if}}
										</div>
									</div>
									<div class="installment__price">Kitob chiqarilgan yil {{year}}</div>
								</div>
							</div>
					</div>
					{{/each}}
				</div>
			</div>
		</div>
	</div>
</div>