<section id="mu-hero">
	<div class="container">
		<div class="mu-testimonial-slide big-slider">
			{{#each book}}
			<li>
				<div class="row">
					<div class="col-md-6 col-12">
						<div class="mu-hero-left">
							<h1>{{title}}</h1>
							<div class="content">
								{{{text}}}
							</div>
							<a href="/books/{{_id}}" class="mu-primary-btn">Ko'rish</a>
						</div>
					</div>
					<div class="col-md-6 col-12">
						<div class="slide-img mu-hero-right">
							<img  src="/{{img}}" alt="Ebook img">
							<span style="color: #fff; margin-top:24px; display:block">
								Kitob muallifi: <b>{{author}}</b>
							</span>
						</div>
					</div>
				</div>
			</li>
			{{/each}}
		</div>
	</div>
</section>
<main role="main">
	<section id="mu-counter">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="mu-counter-area">
						<div class="mu-counter-block">
							<div class="row">
								<div class="col-md-4 col-sm-6">
									<div class="mu-single-counter">
										<i class="fa fa-book" aria-hidden="true"></i>
										<div class="counter-value" data-count="{{booklen}}">{{booklen}}</div>
										<h5 class="mu-counter-name">Kitoblar soni</h5>
									</div>
								</div>
								<div class="col-md-4 col-sm-6">
									<div class="mu-single-counter">
										<i class="fa fa-list" aria-hidden="true"></i>
										<div class="counter-value" data-count="{{category.length}}">{{category.length}}</div>
										<h5 class="mu-counter-name">Bo'limlar</h5>
									</div>
								</div>
								<div class="col-md-4 col-sm-6">
									<div class="mu-single-counter">
										<i class="fa fa-list" aria-hidden="true"></i>
										<div class="counter-value" data-count="{{atribut.length}}">{{atribut.length}}</div>
										<h5 class="mu-counter-name">Janrlar</h5>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="mu-book-overview">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="mu-book-overview-area">
						<div class="mu-heading-area">
							<h2 class="mu-heading-title">Kitoblar haqida</h2>
							<span class="mu-header-dot"></span>
							<p>Bizning kitoblar sizda kitobga bo'lgan hurmatni, kitobni sevishni, kitob o'qishlikni o'rgatadi</p>
						</div>
						<div class="mu-book-overview-content">
							<div class="row">
								<div class="col-md-3 col-sm-6">
									<div class="mu-book-overview-single">
										<span class="mu-book-overview-icon-box">
											<i class="fa fa-language" aria-hidden="true"></i>
										</span>
										<h4>Tarjima kitoblar</h4>
										<p>Chet el yozuvchilarining eng sara, yangi kitoblari tarjimalari</p>
									</div>
								</div>
								<div class="col-md-3 col-sm-6">
									<div class="mu-book-overview-single">
										<span class="mu-book-overview-icon-box">
											<i class="fa fa-file-pdf-o" aria-hidden="true"></i>
										</span>
										<h4>Yevropa kitoblari</h4>
										<p>Yevropa kitoblarining bo'limlari, hamma uchun kerakli kitoblar</p>
									</div>
								</div>
								<div class="col-md-3 col-sm-6">
									<div class="mu-book-overview-single">
										<span class="mu-book-overview-icon-box">
											<i class="fa fa-gg" aria-hidden="true"></i>
										</span>
										<h4>Qadimiy kitoblar</h4>
										<p>Qadimiy kitoblarning yangilangan va tarjima kitoblari</p>
									</div>
								</div>
								<div class="col-md-3 col-sm-6">
									<div class="mu-book-overview-single">
										<span class="mu-book-overview-icon-box">
											<i class="fa fa-gg" aria-hidden="true"></i>
										</span>
										<h4>Bolalar kitoblari</h4>
										<p>Bolalar uchun eng yoqimli kitoblar to'plami</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="mu-video-review">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="mu-video-review-area">
						<div class="mu-heading-area">
							<h2 class="mu-heading-title">Bizning kitoblar video talqinda</h2>
							<span class="mu-header-dot"></span>
							<p>Bizning kitoblarimiz sizning qalbingizda chuqur joy oladi degan umiddamiz</p>
						</div>
						<div class="mu-video-review-content">
							<iframe class="mu-video-iframe" width="100%" height="480" src="https://www.youtube.com/embed/T4ySAlBt2Ug"
								frameborder="0" allowfullscreen></iframe>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="mu-pricing">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="mu-pricing-area">
						<div class="mu-heading-area">
							<h2 class="mu-heading-title">Bizning kitoblar</h2>
							<span class="mu-header-dot"></span>
						</div>
						<div class="mu-pricing-content">
							<div class="row">
								<div class="col-sm-6 col-md-4">
									<div class="mu-pricing-single">
										<div class="mu-pricing-single-head">
											<h4>Tarjima kitoblar</h4>
											<p class="mu-price-tag">
												 15
											</p>
										</div>
										<ul class="mu-price-feature">
											<li> Yevropa kitoblari </li>
											<li> Sharq adabiyoti </li>
											<li> G'arb adabiyoti </li>
										</ul>
										<div class="mu-pricing-single-footer">
											<a href="/category" class="mu-order-btn">Tarjima kitoblar</a>
										</div>
									</div>
								</div>
								<div class="col-sm-6 col-md-4">
									<div class="mu-pricing-single mu-popular-price-tag">
										<div class="mu-pricing-single-head">
											<h4>Qadimiy kitoblar</h4>
											<p class="mu-price-tag">
												 25
											</p>
										</div>
										<ul class="mu-price-feature">
											<li> Alisher Navoiy kitoblari </li>
											<li> Tibbiyot kitoblari </li>
											<li> Diniy kitoblar </li> 
										</ul>
										<div class="mu-pricing-single-footer">
											<a href="/category" class="mu-order-btn">Qadimiy kitoblar</a>
										</div>
									</div>
								</div>
								<div class="col-sm-6 col-md-4">
									<div class="mu-pricing-single">
										<div class="mu-pricing-single-head">
											<h4>Bolalar uchun</h4>
											<p class="mu-price-tag">
												10
											</p>
										</div>
										<ul class="mu-price-feature">
											<li> O'zbek ertaklari </li>
											<li> Chet el kitoblari </li>
											<li> Rasmli kitoblar  </li>
										</ul>

										<div class="mu-pricing-single-footer">
											<a href="#" class="mu-order-btn">Bolalar kitobi</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="mu-contact">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="mu-contact-area">
						<div class="mu-heading-area">
							<h2 class="mu-heading-title">Bizga habar yozing</h2>
							<span class="mu-header-dot"></span>
							<p>Bizga kitoblar yuzasidan savolingiz bo'lsa bizga murojaat qilishingiz mumkin</p>
						</div>
						<div class="mu-contact-content">
							<form  method="post" action="/message" class="mu-contact-form">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Ismingizni yozing" id="name" name="fullname" required>
								</div>
								<div class="form-group">
									<input type="number" class="form-control" placeholder="Telefon raqamingiz" id="email" name="phone" required>
								</div>
								<div class="form-group">
									<textarea class="form-control" placeholder="Xabar matni" id="message" name="message" required></textarea>
								</div>
								<button type="submit" style="width:auto;" class="mu-send-msg-btn"><span>
									{{#if success}}
										{{success}}
									{{else}}
										Yuborish
									{{/if}}
								</span></button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="mu-google-map">
		<div style="position:relative;overflow:hidden;"><a href="https://yandex.uz/maps/org/181817256792/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Ташкентский университет информационных технологий имени Мухаммада ал-Хоразмий</a><a href="https://yandex.uz/maps/10335/tashkent/category/university_college/184106140/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:14px;">ВУЗ в Ташкенте</a><iframe src="https://yandex.uz/map-widget/v1/-/CCUJVOW8xA" width="100%" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
	</section>
</main>
<div class="model-main">
	<div class="model-inner">
		<div class="close-btn" onclick="closeModel()">×</div>
		<div class="model-wrap">
			<div class="pop-up-content-wrap">
				<h3 class="modal-title">Sizga qaysi turdagi kitoblar ro'yhati yoqadi?</h3>
				{{#each category}}
				<div class="modal-item">
					<a class="modal-link" href="/category/{{_id}}">{{title}}</a>
				</div>
				{{/each}}
			</div>
		</div>
	</div>
	{{!-- sa --}}
	<div class="bg-overlay"></div>
</div>
<script>
	function openModel() {
		document.querySelector('.model-main').classList.add('model-open');
	}
	function closeModel() {
		document.querySelector('.model-main').classList.remove('model-open');
	}
	setTimeout(function () {
				openModel();
	}, 1000);
</script>